[Unit]
Description=Flash LED express server
Wants=network.target
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/node __SRC_PATH__/server/express.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
